.form{
  width:900px;
  margin-top:60px;
}
#hidden1,#hidden2,#hidden3,#hidden4,#hidden5,#hidden6{
  width:450px;
  text-align:center;
  position:relative;
  background:#f5f5f5;
}
#header{
  text-align:left;
  float:left;
  width:500px
}
#header2{
}
.header3 {
  text-align:right;
  float:right;
  width:350px;
}
#header4{
  float:right;
}
